name: Build

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Select Xcode 26.1
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '26.1.1'

    - name: Build (PRs)
      run: |
        xcodebuild -project Toolbox.xcodeproj \
          -scheme Toolbox \
          -configuration Debug \
          -derivedDataPath ./build \
          CODE_SIGN_IDENTITY="" \
          CODE_SIGNING_REQUIRED=NO \
          CODE_SIGNING_ALLOWED=NO \
          DEVELOPMENT_TEAM="" \
          CODE_SIGN_INJECT_BASE_ENTITLEMENTS=NO
